.accountSettings {
  margin-top: 30px;
  font-family: inherit;
}

.accountSettings_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accountSettings_header_left,
.accountSettings_header_left_address {
  display: flex;
  align-items: center;
}

.accountSettings_header_left > h3,
.accountSettings_header_left_address > h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  color: #262626;
}

.editButton,
.editButtonMobile {
  height: 20px;
  width: 40px;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1939aa;
  border: 0.82px solid #1939aa;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  margin-left: 27px;
}

.accountSettings_header_right {
  display: flex;
  align-items: center;
  color: #888888;
}

.accountSettings_header_right > p {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  padding: 10px 0px;
  padding-right: 33px;
  border-right: 1px solid #f5f5f5;
  margin-right: 33px;
}

.accountSettings_header_right > span {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.rightNav_header_active {
  color: #b10744;
}

.accountSettings_body {
  margin-top: 26px;
}

.personalInformation {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.personalInformation_card {
  border: 1px solid #e9e9e9;
  padding: 34px 46px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.personalInformation_card > img {
  width: 67px;
  height: 67px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 55px;
}

.inputContainer {
  width: 100%;
  margin: 0px 10px;
}

.inputContainer > p {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #434343;
  margin-bottom: 19px;
}

.inputContainer > input {
  border: 1px solid #d0d0d0;
  height: 38px;
  width: 100%;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  outline: none;
  padding: 0 20px;
}

.genderContainer {
  display: flex;
  gap: 30px;
}

.gender {
  height: 38px;
  border: 1px solid #d0d0d0;
  width: 130px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #434343;
}

.gender > input {
  margin-left: 10px;
  accent-color: #b10744;
}

.buttonsContainer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 20px;
  margin-left: 50px;
}

.discardButton {
  height: 38px;
  padding: 0 30px;
  width: 150px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  background-color: #e5e5e5;
  border: 1px solid #d0d0d0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.saveButton {
  height: 38px;
  background-color: #b10744;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 3px;
}

.addNewAddress_button {
  background-color: #b10744;
  height: 25px;
  color: #ffffff;
  border-radius: 20px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 10px;
  margin-left: 30px;
  cursor: pointer;
}

.address_details {
  margin-top: 48px;
}

.address_details_card {
  display: flex;
  flex-direction: column;
  border: 1px solid #e9e9e9;
  padding: 34px 0px;
}

.address_details_card_top {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d0d0d0;
  padding: 0px 46px;
  padding-bottom: 30px;
}

.address_details_card_top_left {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.address_details_card_top_left > h4 {
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid #d0d0d0;
  font-size: 15px;
  font-weight: 400;
}

.address_details_card_top_left > span {
  color: #1939aa;
  font-size: 14px;
  font-weight: 400;
  padding-right: 20px;
  border-right: 1px solid #d0d0d0;
  margin-right: 20px;
}

.address_details_card_top_right {
  display: flex;
  align-items: center;
}

.address_details_card_top_right > p {
  cursor: pointer;
  font-size: 13px;
  color: #888888;
  margin-right: 20px;
}

.editAddress_button {
  font-size: 13px;
  padding: 2px 10px;
  color: #1939aa;
  border-radius: 20px;
  border: 1px solid #1939aa;
  cursor: pointer;
}

.address_details_card_bottom {
  height: 60%;
  padding: 0px 46px;
  padding-top: 40px;
}

.address_details_card_bottom > p {
  font-size: 14px;
  font-weight: 400;
  color: #888888;
}

.editButtonMobile {
  display: none;
}
.mobileOnly {
  display: none;
}

@media only screen and (max-width: 1100px) {
  .accountSettings_header_left {
    display: none;
  }
  .accountSettings_header_right {
    width: 100%;
    justify-content: center;
  }
  .personalInformation {
    gap: 0px;
  }
  .personalInformation_card {
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .personalInformation_card > img {
    margin-right: 0px;
    height: 74px;
    width: 74px;
    margin-top: 34px;
  }
  .editButtonMobile {
    display: flex;
    position: absolute;
    top: 24px;
    right: 0;
  }
  .inputContainer {
    margin: 0;
  }
  .inputContainer > p {
    margin-top: 23px;
  }
  .genderContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0;
  }
  .buttonsContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-left: 0px;
    margin-top: 41px;
    margin-bottom: 98px;
  }
  .accountSettings_header {
    flex-direction: column-reverse;
  }
  .accountSettings_header_left_address {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }
  .accountSettings_header_left_address > h3 {
    font-size: 18px;
    line-height: 32px;
  }
  .addNewAddress_button {
    height: 33px;
    border-radius: 26px;
    font-size: 14px;
    margin-left: 0px;
    margin-top: 12px;
  }
  .address_details {
    margin-top: 24px;
  }

  .address_details_card {
    display: flex;
    flex-direction: column;
    border: 1px solid #d4d4d4;
    padding: 0px;
  }

  .address_details_card_top {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d0d0d0;
    padding: 0px 15px;
    padding-bottom: 0px;
  }
  .address_details_card_top_left {
    display: flex;
    align-items: center;
  }
  .address_details_card_top_left > h4 {
    display: none;
  }
  .address_details_card_top_left > span {
    display: none;
  }
  .address_details_card_bottom {
    height: fit-content;
    padding: 10px;
  }
  .mobileOnly {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  .mobileOnly > p {
    color: #707070;
    font-size: 14px;
    font-weight: 400;
  }
  .mobileOnly > span {
    color: #0475c7;
    font-size: 14px;
    font-weight: 400;
  }
}
