.profilePageMain {
  padding: 0 5vw;
  min-height: calc(100vh - 63px);
  width: 100%;
}

.profile_header {
  height: 68px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* position adding */
}

.profile_header_personal {
  display: flex;
  align-items: center;
  padding-right: 47px;
  border-right: 1px solid #f1f1f1;
  height: 70%;
}

.profile_header_personal > img {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

.profile_header_personal_details {
  margin-left: 22px;
}

.profile_header_personal_details > p {
  font-size: 14px;
  font-weight: 300;
  color: #393939;
  text-align: left;
}

.profile_header_personal_details > h5 {
  color: #393939;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
}

.profile_header_options {
  display: flex;
  align-items: center;
  gap: 53px;
  padding-left: 41px;
  overflow: scroll;
}

.profile_header_options::-webkit-scrollbar {
  display: none;
}

.profile_header_menu,
.profile_header_menu_active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile_header_menu > p {
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #505050;
  margin-left: 10px;
  display: block;
  white-space: nowrap;
}

.profile_header_menu_active > p {
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  margin-left: 10px;
  color: #b10744;
  display: block;
  white-space: nowrap;
}

.profile_header_menu.logout_button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding: 11px 23px;
  border-radius: 3px;
  border: 1px solid #b10744;
}
.profile_header_menu.logout_button p {
  color: #b10744 !important;
}

.profile_body {
  margin-top: 24px;
}

@media only screen and (max-width: 500px) {
  .profile_header {
    height: fit-content;
    flex-direction: column;
    align-items: flex-start;
  }
  .profile_header_personal {
    padding-right: 0px;
    border-bottom: 1px solid #f1f1f1;
    border-right: none;
    height: 57px;
    width: 100%;
  }
  .profile_header_personal_details {
    margin-left: 18px;
    display: flex;
    align-items: center;
  }
  .profile_header_personal_details > p {
    margin-top: 1px;
    margin-right: 7px;
  }
  .profile_header_options {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 53px;
    padding-left: 15px;
    height: 68px;
    width: 100%;
    box-shadow: 0px 2px 6px 0px #c7c7c726;
  }
  .profile_header_menu,
  .profile_header_menu_active {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .profile_body {
    margin-top: 10px;
  }
}
