@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

.main_outer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 63px;
}

.main_outer_cover {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_inner {
  width: 100%;
  max-width: 1530px;
  font-family: "Roboto", sans-serif;
}
