.secOne {
  padding: 0 5vw;
}

.secOneInner {
  max-width: 511px;
  margin: 100px auto;
}
.secOneInner h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #585858;
}
.secOneInner .otptext {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #a4a4a4;
  margin-top: 8px;
  margin-bottom: 28px;
}
.secOneInner .phone_feild {
  display: flex;
  align-items: center;
  justify-content: center;
}
.secOneInner .phone_feild > div {
  width: auto;
}
.secOneInner .phone_feild > div > input {
  margin-left: 30px;
  width: 84px;
  margin-right: 10px;
}
.secOneInner .phone_feild input {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12.2218px;
  line-height: 15px;
  color: #adadad;
  background: #ffffff;
  border: 0.5px solid #e1e1e1;
  border-radius: 6px;
  width: 100%;
  padding: 9px 16px;
}
.secOneInner p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: red;
  margin-top: 15px;
}
.secOneInner h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #a4a4a4;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.secOneInner h5 span {
  color: #b10744;
  margin-left: 15px;
}
.secOneInner .submit {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12.2218px;
  line-height: 15px;
  color: #ffffff;
  background: #b10744;
  border-radius: 6px;
  width: 100%;
  padding: 14px;
  margin-top: 20px;
  margin-bottom: 19px;
  text-align: center;
}
.secOneInner .bottomp {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12.2218px;
  line-height: 15px;
  color: #adadad;
  text-align: center;
}
.secOneInner .bottomp span {
  color: #b10744;
}

.top {
  padding: 0 70px;
}
.bottom {
  padding: 0 70px;
}

@media only screen and (max-width: 640px) {
  .top {
    padding: 0 10px;
  }
  .bottom {
    padding: 0 10px;
  }
}
