.main_outer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 63px;
}

.main_outer_cover {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_inner {
  width: 100%;
  font-family: "Roboto", sans-serif;
}
