.main_outer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_outer_cover {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_inner {
  width: 100%;
  max-width: 1530px;
  font-family: "Roboto", sans-serif;
}
